.infos-card-container {
  display: flex;

  flex-direction: column;

  background-color: #302F3D;

  width: 28.5%;

  padding: 2.5rem 6.125rem 2.12rem 2.5rem;
  margin-top: 2.5rem;

  border-radius: 1.25rem;
  gap: 1.75rem;

  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);

  .infos-card-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: start;

    .icon-container {
     font-size: 1.25rem;
     display: flex;
     align-items: center;
     justify-content: center;
    }

    p {
      font-size: 0.75rem;
      margin-left: 1.25rem;
    }
  }
}